{
  "$schema": "https://swc.rs/schema.json",
  "exclude": [
    "^src\/(?:.*\/)*.*\\.(?:spec|test)\\.ts$",
    "^src\/(?:.*\/)*.*\\.interface\\.ts$",
    "^src\/@types(?:\/.*)?\/?$"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "sourceMaps": true
}
